.container {
  display: flex;
  .col-lg-4 {
    height: 800px;
    padding: 10px;
  }
}
.logo-offset-position {
  float:left;
  margin-bottom: 69px;
  margin-left: 341px;
}

.info-offset-position {
  position: absolute;
  top: 70px;
  margin-left: 567px;
  height: 100px;
  width: 550px;
}

.line {
  display: flex;
  width: 100%;
  height: 28px;
}

.heading-text {
  font-weight: bold;
  margin-right: 7px;
}

.content-text {
  color: #525252;
  margin-right: 20px;
}

.lower-heading-line {
  border-bottom: #525252 1px solid;
}

.case-button-container {
  top: -8px;
  position: absolute;
  right: -18px;
}

.claims-button-container {
  top: 28px;
  position: absolute;
  right: -25px;
}

.case-button {
  border-color: #525252 !important;
  background-color: #fff;
  font-size: 1.1em !important;;
  color: #525252 !important;
}

.claims-button {
  border-color: #59b2b2 !important;
  background-color: white;
  font-size: 0.9em !important;
  color: #00a3d7 !important;
}
