<div class="col-header"
  ng-class="$ctrl.forecastsColumnsData.selected ? 'selected-header' : 'not-selected-header'">
  {{$ctrl.forecastsColumnsData.headerText}}
</div>
<div class="col-body">
  <div class="day-forecast-table">
    <div class="table-row">
      <div class="cols header-text">day</div>
      <div class="cols"></div>
      <div class="cols header-text">forecast</div>
    </div>
    <div ng-repeat="forecast in $ctrl.forecastsColumnsData.data">
      <forecasts-component forecast-data="forecast"></forecasts-component>
    </div>
  </div>
  <div class="dividing-line"></div>
  <div class="col section-two">
    <!-- here we just used ng-if to differenciate to save time -->
    <div ng-if="$ctrl.forecastsColumnsData.section == 1">
      <div class="header-block">
        <div class="header-text darker-gray">
          charges
        </div>
      </div>
      <div class="secondary-item">
        <div class="item-left">Daily room</div>
        <div class="item-right">$12,344</div>
      </div>
      <div class="dotted-dividing-line"></div>
      <div class="secondary-item">
        <div class="item-left">Pharmacy</div>
        <div class="item-right">$9,304</div>
      </div>
      <div class="dotted-dividing-line"></div>
    </div>
    <div ng-if="$ctrl.forecastsColumnsData.section == 2">
      <div class="header-block">
        <div class="header-text red">
          radar results
        </div>
        <div class="header-text right gray">
          discount
        </div>
      </div>
      <div class="secondary-item">
        <div class="item-left">
          Empty leg<br>
          12/1/17 13:00
        </div>
        <div class="item-right">
          24%<br>
          <span class="link">View 3 more</span>
        </div>
      </div>
      <div class="dotted-dividing-line"></div>
      <div class="secondary-item">
        <div class="item-left">
          Patient pooling<br>
          2/1/17 13:00
        </div>
        <div class="item-right">
          18%<br>
          <span class="link">View 2 more</span>
        </div>
      </div>
      <div class="dotted-dividing-line"></div>
    </div>
    <div ng-if="$ctrl.forecastsColumnsData.section == 3">
      <div class="header-block">
        <div class="header-text red">
          local transfer options
        </div>
        <div class="header-text right gray">
          discount
        </div>
      </div>
      <div class="secondary-item">
        <div class="item-left">
        <input type="radio">&nbsp;Bellevue Hospital Center
        </div>
        <div class="item-right">
          34%<br>
        </div>
      </div>
      <div class="dotted-dividing-line"></div>
      <div class="secondary-item">
        <div class="item-left">
        <input type="radio">&nbsp;Bellevue Hospital Center
        </div>
        <div class="item-right">
          34%<br>
        </div>
      </div>
      <div class="dotted-dividing-line"></div>
      <div class="secondary-item">
        <div class="item-left">
        <input type="radio">&nbsp;Bellevue Hospital Center
        </div>
        <div class="item-right">
          34%<br>
        </div>
      </div>
      <div class="dotted-dividing-line"></div>
    </div>
  </div>
</div>
