.col-header {
  font-weight: bold;
  width: 100%;
  height: 76px;
  text-align: center;
  font-size: 26px;
  padding-top:20px;
}
.selected-header {
  color: #fff;
  background-color: #5ab2b2;
}
.not-selected-header {
  color: #000;
  background-color: #e3e3e3;
}

.col-body {
  background-color: #f2f2f2;
  .day-forecast-table {
    height: 187px;
    .cols {
      padding: 10px;
    }
    .day {
      width: 30px;
    }
  }
}

.dividing-line {
  margin: 15px;
  border-top: #c3c3c3 1px solid;
}

.dotted-dividing-line {
  border-top: #dadada 1px dotted;
  display: inline-flex;
  width: 100%;
}

.more-margin {
  margin-top: 28px;
}

.section-two {
  height: 320px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  .secondary-item {
    display: flex;
    width: 100%;
  }
}
.item-right {
  margin-top: 10px;
  float: right;
  text-align: right;
  width: 30%;
}
.item-left {
  float: left;
  text-align: left;
  width: 70%;
}

.radio-item {
  display: flex;
  width: 100%;
  height: 19px;
}

.section-estimate {
  height: 152px;
  background-color: #f2f2f2;
}

.lowest-estimate {
  background-color: #d3e5e5;
}

.radio-position {
  position: absolute;
  margin-top: 19px;
}