@import '../components';

.table-row {
  .forecast-day {
    position: absolute;
    font-weight: bold;
    padding-left: 7px;
  }
  display: flex;
  flex-wrap: wrap;
  .col-bar {
    float: left;
    height: 100%;
    width: 2px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .main {
    float: left;
    .main-text {
      width: 214px;
    }
    .sub {
      font-size: smaller;
    }
  }
  .third-col {
    padding: 10px;
  }
}
