<div class="table-row">
  <div class="cols day">
    <span class="forecast-day" ng-style="{'color': $ctrl.forecastData.daysColor}">
        {{$ctrl.forecastData.days}}<img class="day-image-position" ng-src="{{$ctrl.loadIcon($ctrl.forecastData.daysImageUrl)}}">
    </span>
  </div>
  <div class="cols">
    <div class="col-bar" ng-style="{'background-color': $ctrl.forecastData.barColor}"></div>
    <div class="main">
      <div class="main-text">
        {{$ctrl.forecastData.mainText}} <img class="plane-position" ng-src="{{$ctrl.loadIcon($ctrl.forecastData.textImageUrl)}}"><br>
        {{$ctrl.forecastData.additionalText}}
      </div>
      <div class="sub">
        {{$ctrl.forecastData.subText}}
      </div>
    </div>
  </div>
</div>
