@import '../components';

.newrow {
  display: flex;
  margin-top: 10px;
}
.smaller {
  font-size: smaller;
}

.center {
  width: 100%;
  text-align: center;
}

.range-text {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.estimation-button {
  background-color: #59b2b2;
  color: #fff;
  font-weight: bold;
  height: 43px;
}

.spacing {
  padding-top: 10px;
}